@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}
.navbar {
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar-brand{
    font-size: 26px;
    font-weight: 800;
}
.carousel-items > img {
    width: 80%;
    height: 450px;
    background-position: cover;


}
.cardrow {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.product-card{
  background:#fff;
  border-radius:12px;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  height:300px
  ;
  box-shadow:0 4px 12px rgba(0,0,0,.08);
  transition:.3s;
  margin: 10px;
}
.product-card:hover{transform:translateY(-6px)}

.product-img{overflow:hidden}
.product-img img{
  width:100%;
  height:220px;
  object-fit:cover;
  transition:.4s;
}
.product-card:hover img{transform:scale(1.1)}

.card-body{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.price{color:#198754;font-weight:700}

.cart-count{
  background:red;
  padding:3px 8px;
  border-radius:50%;
  font-size:12px;
}
